body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  color: rgb(0, 0, 0);
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(1deg, #77a7fd, #594fb7);
}
