body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(1deg, #77a7fd, #594fb7);
}
